<form action="/criar-usuario" method="post">
    <div class="form-group col-sm-7 mb-3">
        <label class="mb-1" >Nome completo</label>
        <input name="nome" type="text" class="form-control" autocomplete="off">
    </div>

    <div class="row">
        <div class="form-group col-sm-3 mb-3">
            <label class="mb-1">Informe seu CPF:</label>
            <input name="documento"type="text" class="form-control" autocomplete="off">
        </div>

        <div class="form-group col-sm-2 mb-3">
            <label class="mb-1">Telefone(Com DDD):</label>
            <input  name="telefone"type="text" class="form-control" autocomplete="off">
        </div>

        <div class="form-group col-sm-2 mb-3">
            <label class="mb-1">Data de Nascimento:</label>
            <input nome="dataNascimento"type="text" class="form-control" autocomplete="off">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4 mb-3">
            <label class="mb-1">Endereço</label>
            <input name="endRua"type="text" class="form-control" autocomplete="off">
        </div>

        <div class="form-group col-sm-1 mb-3">
            <label class="mb-1">Número</label>
            <input name="endNumero" type="text" class="form-control" autocomplete="off">
        </div>

        <div class="form-group col-sm-2 mb-3">
            <label class="mb-1">Complemento</label>
            <input name="endComplemento" type="text" class="form-control" autocomplete="off">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-3 mb-3">
            <label class="mb-1">CEP:</label>
            <input name="endCep" type="text" class="form-control" autocomplete="off">
        </div>

        <div class="form-group col-sm-2 mb-3">
            <label class="mb-1">Bairro</label>
            <input name="endBairro" type="text" class="form-control" autocomplete="off">
        </div>

        <div class="form-group col-sm-2 mb-3">
            <label class="mb-1" class="mb-1">Cidade</label>
            <input name="endCidade" type="text" class="form-control" autocomplete="off">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-1 mb-3">
            <label class="mb-1">Estado/UF</label>
            <input name="endEstado" type="text" class="form-control" autocomplete="off">
        </div>

        <div class="form-group col-sm-2 mb-3">
            <label class="mb-1">País</label>
            <input name="endPais" type="text" class="form-control" autocomplete="off">
        </div>
    </div>

    <div class="form-group col-sm-3 mb-3">
        <label class="mb-1">E-mail</label>
        <input name="email" type="text" class="form-control" autocomplete="off">
    </div>
    <div class="form-group col-sm-3 mb-3">
        <label class="mb-1">Senha</label>
        <input name="senha" type="password" class="form-control" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>