<form action="/criar-atividade" method="post">
    <div class="form-group">
        <label>ID Evento</label>
        <input name="idEvento" type="text" class="form-control col-sm-4" value={{_idEvento}}>
    </div>

    <div class="form-group">
        <label>Nome da atividade</label>
        <input name="nomeAtividade" type="text" class="form-control col-sm-4" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary" autocomplete="off">Submit</button>
    {{!-- <a  class="btn btn-secondary" href="/criarlogin" role="button">Cadastrar</a> --}}
</form>
