<form method="post" action="/criar-evento">
    <div class="form-group col-md-2">
      <label>Nome do evento</label>
      <input name="nome" type="text" class="form-control" placeholder="evento" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Criar evento</button>
    <a  class="btn btn-secondary" href="/adm" role="button">voltar</a>
</form>