{{> navbar}}
 <a  class="btn btn-primary" href="/adm/criar-atividade?_idEvento={{_idEvento}}" role="button">Criar Atividades</a>
{{#if eventoData}}
<h1>Evento: {{eventoData.nome}}</h1>
<table class="table">
    <thead>
    <tr>
        <th>Atividades</th>
        <th></th>
    </tr>
    </thead>
{{#each eventoData.atividades}}
    <tbody>
        <tr>
            <th>{{titulo}}</th>
        </tr>
    </tbody>
{{/each}}
</table>
{{/if}}