{{> navbar}}
 <a  class="btn btn-primary" href="/adm/modificar_usuario" role="button">Modificar Usuario</a>
<h3>Usuarios:</h3>
{{#if usuarios}}
<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Nivel de Acesso</th>
    </tr>
    </thead>
{{#each usuarios}}
    <tbody>
        <tr>
            <th>{{nome}}</th>
             <th>{{email}}</th>
            <th>{{tipo}}</th>
        </tr>
    </tbody>
{{/each}}
</table>
{{/if}}