<form method="post" action="/modificar_acesso">
    <div class="form-group col-sm-2">
      <label>E-mail</label>
      <input name="email" type="email" class="form-control" autocomplete="off">
    </div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Second default radio
  </label>
</div>

    <button type="submit" class="btn btn-primary">Criar evento</button>
    <a  class="btn btn-secondary" href="/adm/gerenciar_fiscal" role="button">voltar</a>
</form>