<h3>Eventos disponiveis:</h3>
<table class="table">
    <thead>
    <tr>
        <th>Eventos:</th>
        <th>Inscrições:</th>
    </tr>
    </thead>
{{#each eventoData}}
    <tbody>
        <tr>
            <th>{{nome}}</th>
            <th><a href="/fiscal/evento/atividades?_id={{_id}}" class="link-primary">Acessar</a></th>
        </tr>
    </tbody>
{{/each}}
</table>