{{#if Atividades}}
<table class="table">
    <thead>
    <tr>
        <th>Atividades</th>
        <th>Presença</th>
    </tr>
    </thead>
{{#each Atividades}}
    <tbody>
        <tr>
            <th>{{titulo}}</th>
            <th><a href="/fiscal/evento/validar?eventoid={{../EventoID}}&atividadeid={{_id}}" class="link-primary">Acessar</a></th>
        </tr>
    </tbody>
{{/each}}
</table>
{{/if}}