{{>navbarUser}}
<h3>Atividades:</h3>
{{#if Atividades}}
<table class="table">
    <thead>
    <tr>
        <th>Eventos:</th>
        <th>Inscrições:</th>
    </tr>
    </thead>
{{#each Atividades}}
    <tbody>
        <tr>
            <th>{{nome}}</th>
            <th><a class="link-primary">Inscrever-se</a></th>
        </tr>
    </tbody>
{{/each}}
</table>
{{/if}}
