<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <a class="btn btn-primary" href="/user/confirma?_id={{id._id}}" role="button">Confirmar Inscrições</a>
  <a  class="btn btn-secondary" href="/user" role="button">Voltar à Pagina anterior</a>
</div>