<form action="/user/confirmar" method="post">
    <div class="form-group col-sm-2">
        <label class="mb-1" >ID evento</label>
        <input name="idEvento" type="text" class="form-control" value="{{id._id}}">
    </div>
    <div class="form-group col-sm-2">
        <label class="mb-1" >Seu E-mail</label>
        <input name="email" type="text" class="form-control" autocomplete="off">
    </div>
    <button class="btn btn-primary" href="/user/confirma?_id={{id._id}}" type="submit">Confirmar Inscrições</button>
    <a  class="btn btn-secondary" href="/user" role="button">Voltar à Pagina anterior</a>
</forma>