<h3>Evntos disponiveis:</h3>
{{#if eventoData}}
<table class="table">
    <thead>
    <tr>
        <th>Eventos:</th>
        <th>Inscrições:</th>
    </tr>
    </thead>
{{#each eventoData}}
    <tbody>
        <tr>
            <th>{{nome}}</th>
            <th><a href="#" class="link-primary">Inscrever-se</a></th>
        </tr>
    </tbody>
{{/each}}
</table>
{{/if}}
    {{!-- <h1>{{nome}}</h1> --}}